.main {
    margin: 4em auto;
    padding: 2em;
    box-shadow: 0 0 10px 0 #ddd;
    max-width: 1100px;
    overflow: hidden;
}

a:link,
a:visited,
a:hover {
    color: #507afe;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.header,
.footer {
    text-align: center;
    overflow: hidden;
}

.title {
    font-size: 2.6em;
}

.app {
    color: #507afe;
}

.section {
    padding: 16px 0;
    border-bottom: 1px solid #ddd;
}

.title,
.section__title{
   font-family: Georgia, Arial, Helvetica, sans-serif;
}

.section__title {
    padding: 0 16px;
}

.section__demo {
    padding: 16px;
}

.footer {
    padding: 2em;
}