.main {
    position: relative;
    z-index: 1;
    margin: 4em auto;
    box-shadow: 0 0 10px 0 #ddd;
    max-width: 1100px;
    overflow: hidden;
}

a:link,
a:visited,
a:hover {
    color: #507afe;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.header,
.cdn,
.download,
.footer {
    text-align: center;
    padding: 2em 0;
    overflow: hidden;
}

.header {
    padding: 3em 0;
}

.title {
    font-size: 2.6em;
}

.app {
    color: #507afe;
}

.toolbar {
    position: absolute;
    z-index: 2;
    top: 16px;
    right: 16px;
    overflow: hidden;
}

.toolbar__item,
.toolbar__svg {
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    overflow: hidden;
}

.toolbar__item {
    padding: 0 8px;
}

.toolbar__anchor:link,
.toolbar__anchor:visited,
.toolbar__anchor:hover {
    color: #999;
    text-decoration: none;
}

.highlight,
.toolbar__anchor:hover {
    color: #507afe;
}

.toolbar__svg {
    vertical-align: middle;
    fill: currentcolor;
}

.cdn {
    background-color: #f5f7fa;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    font-family: 'Courier New', Consolas, Arial, Helvetica, 'Helvetica Neue', sans-serif;
}

.download {
    margin: 0 auto;
    padding: 3em 0 0;
    text-align: center;
    overflow: hidden;
}

.download__button {
    display: inline-block;
    border-radius: 4px;
    padding: 14px 29px;
    font-size: 18px;
    font-family: 'Source Code Pro', Consolas, Georgia, Monaco, monospace, Arial,
    sans-serif;
    background-color: #507afe;
    overflow: hidden;
}

.download__button:link,
.download__button:visited,
.download__button:hover {
    color: #fff;
    text-decoration: none;
}

.container {
    margin: 0 auto;
    padding: 2em;
    overflow: hidden;
}

.title,
.section__title {
    font-family: Georgia, Arial, Helvetica, sans-serif;
}

.section__title {
    margin: 0 auto;
    padding: 1em 16px;
}

.section__content {
    margin: 0 auto;
    padding: 24px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
}

.section__preview {
    padding: 16px 0;
}

.section__preview,
.section__usage {
    float: left;
    margin: 0;
    width: 50%;
    box-sizing: border-box;
    overflow: hidden;
}

.section__pre {
    margin: 0 auto;
}

.section__pre,
.section__usage,
.section__demo {
    padding: 16px;
}

.section__usage {
    border-left: 1px solid #ddd;
}

.section__code {
    line-height: 125%;
    color: #555;
    font-family: 'Source Code Pro', Consolas, Georgia, Monaco, monospace, Arial,
    sans-serif;
}

.footer {
    padding: 2em 2em 3em;
}

/* ===== Scrollbar ===== */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    -webkit-border-radius: 5px;
}

::-webkit-scrollbar-track-piece {
    -webkit-border-radius: 5px;
}

::-webkit-scrollbar-thumb:vertical {
    background-color: rgba(0, 0, 0, 0.25);
    -webkit-border-radius: 5px;
}

::-webkit-scrollbar-thumb:horizontal {
    background-color: rgba(0, 0, 0, 0.25);
    -webkit-border-radius: 5px;
}

::-webkit-scrollbar:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.35);
}